
/*** Applies only to Home Page ***/

#home-h1 {
    margin-top: 32px;
}


.recipe-img {
    border-top: 1px solid rgb(66, 40, 40);
    width: 256px;
}

/* Recipes div wrap (black border and biege background) */
#recipes-home {
    background-color: rgb(254, 161, 161);
    color: rgb(60,60,60);
    padding-left: 32px;
    border-top: 1px solid black;
    margin-top: 120px;
    border-bottom: 1px solid rgb(180, 103, 103);
}

/* Recipe unordered recipe list wrap (removes bullet points from ul items) */
#home-ul-wrap {
    list-style-type: none;
    padding: 32px 0px;
    margin: 0;
}

/* Applies to all list items */
.home-list {
    padding-bottom: 100px;
}

/* Applies to list item links */
.home-list-links {
    text-decoration: none;
    color: black;
    padding: 32px 0px;
    font-size: 200%;
    padding: 0;             /* These make it so it doesnt affect the other list items below when expanding on hover */
}

/* List item link on hover */
.home-list-links:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(245, 100, 56);
}

